body {
    font-family: 'Raleway', sans-serif;
}

header {
    margin: 5em 0;
}

header h1 {
    font-family: 'Cormorant', serif;
    font-size: 6em;
}

h3 {
    margin-top: 0;
}

ul {
    padding-left: 2em;
    padding-right: 2em;
    text-align: justify;
}

li {
    list-style-type: none;
}

a:link {
    color: black;
    border-bottom: 1px solid lightgrey;
}

a:visited {
    color: black;
    border-bottom: 1px solid lightgrey;
}

a:hover {
    color: black;
    border-bottom: 1px solid black;
    text-decoration: none;
}

a:active {
    color: black;
    border-bottom: 1px solid black;
}
.container {
    padding-top: 2em;
    width: 66%;
}

footer {
    display: flex;
    justify-content: flex-end;
}

#email {
    font-family: 'Source Code Pro', monospace;
}

@media (max-width: 767px) {
    .desktop {display: none;}
    .mobile {
        display: flex;
    }
    .container {
        padding-top: 2em;
        width: 100%;
    }
}
