body {
    font-family: 'Raleway', sans-serif;
}

header {
    margin: 5em 0;
}

header h1 {
    font-family: 'Cormorant', serif;
    font-size: 6em;
}

ul {
    padding-left: 2em;
    padding-right: 2em;
    text-align: justify;
}

p {
    text-align: justify;
}

li {
    list-style-type: none;
}

section nav {
    font-family: 'Cormorant', serif;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    margin: 0 auto;
}

section nav p {
    text-align: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#currentlink {
    color: darkgray;
}

section nav a {
    color: black;
}      

section nav a:visited {
    color: black;
    text-decoration: none;
}

section nav a:hover {
    color: darkgray;
    text-decoration: none;
}

section nav a:active {
    color: darkgray;
    text-decoration: none;
}

#caption {
    font-family: 'Cormorant', serif;
    font-size: 0.9em;
    text-align: center;
}    

#intro-text {
    font-size: 1em;
}

footer {
    display: flex;
    justify-content: flex-end;
}

.fa {
    color: black;
}

#teaching_date {
    padding-left: 3em;
    font-weight: bold;
}

#teaching_desc {
    padding-left: 3em;
}

#proj_title {
    margin-left: 2em;
}

#proj_desc {
    margin-top: 0.25em;
    margin-left: 1.5em;
}

#SLC_ref {
    font-size: 0.8em;
    font-style: italic;
}